<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <ul class="loginWelcome"><p>欢迎来到Vivi的健身房，请登录</p></ul>
    <form method="POST" action="/web/login" name="login">
        <ul>用户：<input class="input" name="inputName" type="text" size="20" />
        </ul>
        <ul>密码：<input class="input" name="inputPassword" type="text" size="20"/>
        </ul>
        <ul><input class="submit" type="submit" value="登录"/>
        </ul>
    </form>
</div>

</body>
</html>